In [133]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,mean_squared_error
from sklearn.preprocessing import normalize
from sklearn.neighbors import KNeighborsRegressor

In [134]:
df = pd.read_csv("train.csv")
df = df.dropna(axis=0,subset=["Age"])

In [135]:
#Add detail for correlation gaurantee of selected features

In [136]:
X = df[["Pclass","Sex","SibSp","Parch",]]
Y = df["Age"]
X

     Pclass     Sex  SibSp  Parch
0         3    male      1      0
1         1  female      1      0
2         3  female      0      0
3         1  female      1      0
4         3    male      0      0
..      ...     ...    ...    ...
885       3  female      0      5
886       2    male      0      0
887       1  female      0      0
889       1    male      0      0
890       3    male      0      0

[714 rows x 4 columns]

In [137]:
#convert categorical variables to OneHot
categorical_vars = ["Sex","Pclass"]
X = pd.get_dummies(X,columns=categorical_vars,drop_first=True)

In [138]:
#normalize sibsp and parch
X.Parch = (X.Parch - X.Parch.mean())/X.Parch.std()
X.SibSp = (X.SibSp - X.SibSp.mean())/X.SibSp.std()

In [139]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,train_size=0.8)
X_train,X_val,y_train,y_val = train_test_split(X_train,y_train,train_size=0.8)
X

        SibSp     Parch  Sex_male  Pclass_2  Pclass_3
0    0.524203 -0.505541         1         0         1
1    0.524203 -0.505541         0         0         0
2   -0.551317 -0.505541         0         0         1
3    0.524203 -0.505541         0         0         0
4   -0.551317 -0.505541         1         0         1
..        ...       ...       ...       ...       ...
885 -0.551317  5.354136         0         0         1
886 -0.551317 -0.505541         1         1         0
887 -0.551317 -0.505541         0         0         0
889 -0.551317 -0.505541         1         0         0
890 -0.551317 -0.505541         1         0         1

[714 rows x 5 columns]

In [120]:
model = KNeighborsRegressor(n_neighbors=8)
model.fit(X_train,y_train)

KNeighborsRegressor(n_neighbors=8)

In [121]:
y_pred = model.predict(X_val)

In [122]:
mean_squared_error(y_val,y_pred)

116.7157791847826

In [123]:
mean_squared_error(y_train,model.predict(X_train))

147.24341217790573

In [124]:
def metric(y_pred,y_true,boundry) : 
    return np.mean(np.abs(y_true-y_pred)<boundry)

In [128]:
pickle.dump(model,open("KNNRegressor_ageprediction_titanic.sav","wb"))